.NewForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 2vmax;
    margin-right: 2vmax;
    margin-top: 5vh;
}

.Button {
    flex: 1;
    margin: 24px;
}

.Error {
    border-color: rgb(220, 53, 69);
    border-width: 6px;
    border-bottom-width: 6px;
    border-radius: 6px;
    background-color: rgb(248, 215, 218);
    color: rgb(114, 28, 36);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
    padding: 8px;
    position: relative;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
}