.navbarContainer {
    box-shadow: 0 5px 14px -9px rgb(0, 0, 0);
    z-index: 1;
}

.navbar {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbarBrand {
    letter-spacing: 4px;
    font-size: calc(6px + 2vmin);
    font-weight: 600;
    color: #fff;
}